
    <div class="plans pb-3">
        <div class="row">
            <div class="col-lg-3 col-sm-4 p-lg-2">@Html.RadioButton("RateType", "Epaper", htmlAttributes: new { @autocomplete = "off", @id = "ePaper" })<label for="ePaper">ePaper Edition</label></div>
            <div class="col-lg-3 col-sm-4 p-lg-2">@Html.RadioButton("RateType", "Print", htmlAttributes: new { @autocomplete = "off", @id = "Print" })<label for="Print">Print Edition</label></div>
            <div class="col-lg-3 col-sm-4 p-lg-2">@Html.RadioButton("RateType", "Bundle", htmlAttributes: new { @autocomplete = "off", @id = "Bundle" })<label for="Bundle">Print & ePaper Bundle</label></div>
        </div>

    </div>

    


