@model ePaperLive.Models.PrintSubRates

@if (Model.Rates == null)
{
    <h3 class="text-error">No items matched your search query!</h3>
}
else
{
    var currentDesc = "";
    foreach (var plans in Model.Rates)
    {
        var printWeeks = (plans.Type != "Epaper") ? "  [" + plans.PrintTerm + " " + plans.PrintTermUnit + "] " : "";
        var mainDesc = plans.RateDescr;
        if (mainDesc != currentDesc && plans.Type == "Print")
        {
            <span class="pt-1"><strong>@mainDesc</strong></span>
        }
        <label id="rate">
            @Html.RadioButton("RateID", plans.Rateid, htmlAttributes: new { @class = "" })
            <span class="value">@(" " + plans.RateDescr + printWeeks) <span style="margin-left: auto">@(plans.Curr + String.Format("{0:C}",plans.Rate)) </span></span>
        </label>
        currentDesc = mainDesc;
    }
}