@{
    ViewBag.Title = "Forgot Password Confirmation";
}

    


    <div id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="@Url.Action("index", "home")">Home</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <h2>@ViewData["Title"]</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Wizard Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-8">
                        <!-- start:wizrd -->
                        <div class="container pt-5">
                            <hgroup class="title">
                                <h1>@ViewBag.Title.</h1>
                            </hgroup>
                            <div>
                                <p>
                                    Please check your email to reset your password.
                                </p>
                            </div>

                        </div>
                        <!-- end:wizrd -->
                    </div>
                    


                </div>

            </div>
        </section><!-- End Wizard Section -->

    </div>
