
@{
    ViewBag.Title = "ePaper Service Level Agreement";
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li>@ViewData["Title"]</li>
        </ol>
        <h2>@ViewData["Title"]</h2>

    </div>
</section><!-- End Breadcrumbs -->

<div class="main p-5">
    <div class="container">

        <p>
            Our Service  Level Agreement (SLA) provides information on the customer support levels that  you can expect when you subscribe to our ePaper service. We place great  emphasis on the quality of our service and feel that our SLA reinforces our  commitment. Additional information relating to our service levels can be found  in our Terms and Conditions and our Privacy Policy<br>
            <br>
            <strong>Website Access and ePaper Publishing and Availability</strong><br>
            <br>
            The Jamaica  Observer Limited’s (hereinafter called JOL) guarantees 99% website availability  for all HTTP and HTTPS requests to our website per calendar month (based on a  24 hour day and a 30 day month).<br>
            The ePaper  site will be updated each day with the digital edition of that day’s print  publication, no later than 9am Eastern Standard Time (No DST). <br>
            <br>
            Upon receiving  authorization and confirmation of payment for subscription to the ePaper,  activation information will be sent to the email address along with an  electronic receipt. <br>
            <br>
            We aim to  provide this information promptly but we do not promise that delivery or access  will happen immediately nor are we liable for any problems, delays or losses in  respect of delivery or access arising out of any cause beyond our control.<br>
            Without  limitation, we shall not be responsible for any problem you may experience with  the ePaper due to the act or fault of any telecommunications provider, internet  service provider and/or technology supplier; systems maintenance (we shall try  to keep this to a minimum and outside of peak hours, wherever reasonably  possible and we will attempt to notify our online users); any incompatibility  or technical fault in respect of your computer hardware software and/or  systems; your registration details are inaccurate or out-of-date; your email  in-box is full; you are not following any instructions we give you for using  the site or accessing the ePaper; or any other circumstance where we send you  or grant you access but you are unable to receive it through no fault of our  own.<br>
            <br>
            If these  service levels are not upheld then the subscriber’s account will be credited  with an additional day’s worth of access to the ePaper service. In all  instances the subscriber will be notified of this adjustment to their  subscription period.<br>
            In the event  that this does not occur automatically, then the subscriber is entitled to  contact JOL at <a href="mailto:userhelp@jamaicaobserver.com">userhelp@jamaicaobserver.com</a> to report the problem for resolution.<br>
            <br>
            Subscribers shall not receive any credit under this SLA in  connection with any failure or deficiency of the Web Site and ePaper  Availability caused by or associated with:
        </p>
        <ul>
            <li>Circumstances beyond JOL’s reasonable control, including,  without limitation, acts of any governmental body, war, insurrection, sabotage,  armed conflict, embargo, fire, flood, strike or other labor disturbance,  unavailability of or interruption or delay in telecommunications or third party  services, virus attacks or hackers, failure of third party software (including,  without limitation, ecommerce software or payment gateways) or inability to  obtain materials, supplies, or power used in or equipment needed for provision  of this SLA;</li>
            <li>Scheduled maintenance and emergency maintenance and upgrades;</li>
            <li>Domain Name Service issues outside the direct control of  JOL;</li>
            <li>Customer's acts or omissions (or acts or omissions of others  engaged or authorized by customer), including, without limitation, custom  scripting or coding (e.g., CGI, Perl, HTML, ASP, etc), any negligence, willful  misconduct, or use of the Services in breach of JOL's Terms and Conditions; </li>
            <li>Outages elsewhere on the Internet that hinder access to your  account. JOL is not responsible for browser or DNS caching that may make your  site appear inaccessible when others can still access it. JOL will guarantee  only those areas considered under the control of JOL: JOL server links to the  Internet, JOL's routers, and JOL's servers. </li>
        </ul>
        <p>We reserve the right  to permanently withdraw any online service, in which event you will be entitled  to a refund of any fees already paid by you to the extent that the fees relate  to use of the online service following the withdrawal date.</p>
        <p>
            <strong>Browser Compatibility</strong><br>
            <br>
            The ePaper  service should be fully compatible with the latest versions of all leading  browsers on the Windows and Mac OS platforms.<br>
            Some earlier  versions of popular browsers will work, however for the best experience it is  advised that you update to the latest version of your browser.<br>
            <br>
            The ePaper has  been tested and approved for the following browsers:
        </p>
        <ul>
            <li>Internet Explorer 6+, Internet Explorer  5 on a Mac will also work but is becoming increasing non-compliant with the  latest web standards.</li>
            <li>Netscape 7+</li>
            <li>Mozilla (Any current version)</li>
            <li>Firefox</li>
            <li>Safari</li>
        </ul>
        <p>
            To check your  browser version, go to the help menu on your browser’s toolbar and click on the  ‘About’ option. This should open a window with information on your browser type  and version.<br>
            <br>
            <strong>Customer Support</strong><br>
            <br>
            ePaper  subscribers may report any problems with the service through the customer  Feedback form on the website or send an email to <a href="mailto:userhelp@jamaicaobserver.com">userhelp@jamaicaobserver.com</a><br>
            Subscribers  should receive an initial response to their concern, if not a full resolution,  within 24 hours of their initial request for help. While we do endeavor to  resolve all customer concerns with our initial response, occasionally certain  factors prevent this from occurring. In such cases, our customer support  staff’s goal is to resolve the issue adequately within 72 hours of the initial  request.<br>
            <br>
            <strong>Subscription Periods, Cancellations and Refunds</strong><br>
            <br>
            The  subscription start date specified during the registration process will be the  first day of your subscription for the ePaper. Because we make arrangements for  the provision of the ePaper on receipt of your order, your only right of  cancellation (other than in respect of a free trial) is as set out in the Terms  and Conditions.
        </p>


    </div>

</div>

