
@{
    ViewBag.Title = "Error404";
}

<div class="container text-center">
    
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            @Html.ActionLink("Go TO Homepage", "index", "home")
        </div>
    </div>
</div>

